<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:02:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Register.beforeMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:02:12</td>   <td>9828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.AvactisRegisterTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:AvactisPackage.Register@26653222]">AvactisRegisterTest</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:02:30</td>   <td>27956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Register.afterMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:02:52</td>   <td>50112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Register.beforeMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:03:01</td>   <td>58507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.AvactisRegisterTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:AvactisPackage.Register@26653222]">AvactisRegisterTest</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:03:14</td>   <td>71333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Register.afterMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:03:14</td>   <td>71337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Register.beforeMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:03:23</td>   <td>80398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.AvactisRegisterTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:AvactisPackage.Register@26653222]">AvactisRegisterTest</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/12/12 23:03:37</td>   <td>94929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Register.afterMethod()[pri:0, instance:AvactisPackage.Register@26653222]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
</table>
